Package: me.shymemoriees.superslam12
Name: Superslam12
Depends: mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Make John Cena appear on your home screen
Maintainer: ShyMemoriees <memories@tw3lve.space>
Author: ShyMemoriees <memories@tw3lve.space>
Section: Tweaks
Version: 1.3.4-1+debug
Installed-Size: 1336
